<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>moneyguru</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_icon</string>
			<key>CFBundleTypeName</key>
			<string>moneyGuru Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MGDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ofx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_icon</string>
			<key>CFBundleTypeName</key>
			<string>OFX</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MGImport</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qfx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_icon</string>
			<key>CFBundleTypeName</key>
			<string>QFX</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MGImport</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_icon</string>
			<key>CFBundleTypeName</key>
			<string>CSV</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MGImport</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_icon</string>
			<key>CFBundleTypeName</key>
			<string>QIF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MGImport</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>moneyGuru</string>
	<key>CFBundleHelpBookFolder</key>
	<string>moneyguru_help</string>
	<key>CFBundleHelpBookName</key>
	<string>moneyGuru Help</string>
	<key>CFBundleIconFile</key>
	<string>main_icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.hardcoded-software.moneyguru</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>moneyGuru</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>hsft</string>
    <key>CFBundleShortVersionString</key>
    <string>{version}</string>
	<key>CFBundleVersion</key>
	<string>{version}</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Hardcoded Software, 2013</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://www.hardcoded.net/updates/moneyguru.appcast</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
