[submodule "hscommon"]
	path = hscommon
	url = https://github.com/hsoft/hscommon.git
[submodule "qtlib"]
	path = qtlib
	url = https://github.com/hsoft/qtlib.git
[submodule "cocoalib"]
	path = cocoalib
	url = https://github.com/hsoft/cocoalib.git
[submodule "ambuttonbar"]
	path = ambuttonbar
	url = https://github.com/hsoft/ambuttonbar.git
[submodule "psmtabbarcontrol"]
	path = psmtabbarcontrol
	url = https://github.com/hsoft/psmtabbarcontrol.git
