[Desktop Entry]
Encoding=UTF-8
Name=moneyGuru
Comment=Personal finances management application.
Exec=moneyguru
Icon=/usr/share/moneyguru/logo_big.png
Terminal=false
Type=Application
Categories=GNOME;Application;Office
